<%= simple_form_for(@comment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <%= f.association :label, as: :radio_buttons %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
